<script setup lang="ts">
import MyProfile from "@/components/MyProfile.vue";
import ProfileEducate from "@/components/ProfileEducate.vue";
import {
  mdiSchoolOutline,
  mdiStarFace,
  mdiEmoticonHappyOutline,
  mdiMusic,
  mdiDanceBallroom,
} from "@mdi/js";
</script>

<template>
  <v-container>
    <div class="text">
      <v-row justify="center">
        <h1 class="font-weight-medium">MY PROFILE</h1>
      </v-row>
    </div>
    <br />
    <v-divider />
    <MyProfile />
    <br />
    <!--1Row(2col=name,Interesting)-->
    <v-row justify="space-around">
      <v-col>
        <v-table style="text-align: center">
          <tr>
            <br />
            <v-card
              class="d-inline pa-3"
              rounded="x"
              style="height: 35px; background-color: lightblue"
            >
              <v-icon :icon="mdiEmoticonHappyOutline"></v-icon>
              <th>NAME</th>
            </v-card>
            <th>
              <br />
              <v-card
                class="d-inline pa-3"
                rounded="x"
                style="height: 35px; background-color: lightblue"
              >
                <v-icon :icon="mdiStarFace"></v-icon>
                INTERESTING
              </v-card>
            </th>
          </tr>
          <br />
          <tr>
            <td>Benyapa Bunwisoot</td>

            <td><v-icon :icon="mdiMusic"></v-icon> MUSIC</td>
          </tr>
          <tr>
            <td>Age : 21</td>
            <td style="padding: 19px">
              <v-icon :icon="mdiDanceBallroom"></v-icon> DANCE
            </td>
          </tr>
          <!-- </tbody> -->
        </v-table>
      </v-col>
    </v-row>
    <br />
    <ProfileEducate />
  </v-container>
</template>

<style scoped>
h1 {
  color: white;
}
.text {
  background-color: #546e7a;
}
</style>
