<script setup lang="ts"></script>

<template>
  <v-container>
    <v-row justify="center">
      <v-avatar size="150">
        <v-img src="me.jpeg" />
      </v-avatar>
    </v-row>
  </v-container>
</template>

<style scoped></style>
