<script setup lang="ts">
import { mdiSchoolOutline } from "@mdi/js";
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <v-card
          class="d-inline pa-3"
          rounded="x"
          style="height: 35px; background-color: lightblue; margin-left: 790px"
        >
          <v-icon :icon="mdiSchoolOutline"></v-icon>
          <th>EDUCATION</th>
        </v-card>
      </v-col>
    </v-row>
    <br />
    <v-row justify="center">
      <v-col cols="8">
        <v-table>
          <thead>
            <tr>
              <th>EDUCATIONAL INFORMATION</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>คณะ :</td>
              <td>วิทยาการสารสนเทศ</td>
            </tr>
            <tr>
              <td>วิทยาเขต :</td>
              <td>บางแสน</td>
            </tr>
            <tr>
              <td>หลักสูตร :</td>
              <td>
                2115020 วท.บ. (วิทยาการคอมพิวเตอร์) ปรับปรุง 59 - ป.ตรี 4 ปี
                ปกติ
              </td>
            </tr>

            <tr>
              <td>ปีการศึกษาที่เข้า :</td>
              <td>2563 / 1</td>
            </tr>
            <tr>
              <td>จบการศึกษาจาก :</td>
              <td>เทพศิรินทร์ นนทบุรี</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
thead {
  background-color: #b3e5fc;
}
tr:nth-child(even) {
  background-color: #e1f5fe;
}
</style>
